@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Rubik&display=swap");

@font-face {
  font-family: "Montserrat", sans-serif;
  font-family: "Rubik";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Rubik&display=swap");
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Rubik";

  color: gray;
}
.copyright span {
  font-weight: 900;
  font-size: 15px;
}

.footer {
  margin-top: 2%;
  display: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 84px;
  width: 1500px;

  background-color: black;
  color: white;
  padding: 30px 20px;

  font-size: 14px;
}
